{% extends 'base.html.twig' %}

{% block title %}Create a new post{% endblock %}

{% block body %}
    <h1>Create a new post</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}

    <div id="character_count">0 characters (20 to 4096 characters required)</div>
    
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Create</button>

    {% block javascript %}
        <script src="{{ asset('script/formPostNew.js') }}"></script>
    {% endblock %}
    

    {{ form_end(form) }}
{% endblock %}
